<section>
    <div class="container">
        <h2>Funcionalidades</h2>
        <br>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <img class="pb-4" src="assets/img/streaming.png" alt="">
                <h3>Streaming</h3>
                <p>Visualiza en tiempo real todas tus clases.</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <img class="py-4" src="assets/img/media.png" alt="">
                <h3>Contenido</h3>
                <p>
                    Acceso a diferentes contenidos educativos suministrados por los usuarios.
                </p>
            </div>
            <div class="col-md-6 col-lg-3">
                <img class="py-4" src="assets/img/community.svg" alt="">
                <h3>Comunidades</h3>
                <p>Crea tu propia comunidad educativa.</p>
            </div>
            <div class="col-md-6 col-lg-3">
                <img class="py-4" src="assets/img/students.svg" alt="">
                <h3>Estudiantes</h3>
                <p>Integraciones con diferentes plataformas, mejorando la experiencia estudiantil.</p>
            </div>
        </div>
    </div>
</section>