section {
  background: #f5f5f5;
  text-align: center;

  .container {
    h2 {
      color: #f87219;
    }

    h3 {
      font-weight: 600;
    }

    img {
      height: 250px;
      max-width: 92%;
    }
  }
}
