@import "global";

section {
  background: $white;
  text-align: center;

  .container {
    h2 {
      color: $orange;
    }

    h3 {
      font-weight: 600;
    }

    img {
      height: 250px;
      max-width: 92%;
    }
  }
}
