<nav class="topnav">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="navbar-brand" routerLink="/inicio">
                    <img src="assets/img/Logo.svg" width="60" height="50" alt="" />
                </a>
                <div class="topnav-right">
                    <a routerLink="/login">Login</a>
                    <button mat-raised-button color="primary" routerLink="/register">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
</nav>