.topnav {
  background-color: #fff;
  overflow: hidden;
  border-bottom: 1px solid #e2e2e2;
  height: 70px;
  display: flex;
  align-items: center;
  a {
    float: left;
    padding: 7px 16px;
    
  }

  .icon {
    display: none;
  }

  .topnav-right {
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
  }
}