<nav class="topnav">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="navbar-brand" routerLink="/inicio">
                    <img src="assets/img/Logo.svg" width="60" height="50" alt="" />
                </a>
                <div class="topnav-right">
                    <a href="#search">Login</a>
                    <button mat-raised-button color="primary">Sign up</button>
                </div>
            </div>
        </div>
    </div>
</nav>

<section id="hero">
    <div class="container">
        <div id="hero2">
            <div class="container">
                <div class="title content-center">
                    <h1>Plataforma educativa descentralizada</h1>
                    <p>
                        Crea mientras compartes, Explora mientras vives y juega para
                        aprender.
                    </p>
                    <div class="separator">
                        <a href="something" class="button7" style="background-color:rgb(96, 153, 252)">Comunidad <i
                                class="ti ti-world"></i></a>
                        <a href="something" class="button7"
                            style="background-color:rgb(255, 255, 255); color:#000000">Descargar <i
                                class="ti ti-android"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>