@import "global";
@import "commons/card";

/*#########################################
# MAIN STYLES
##########################################*/

* {
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, sans-serif;
}

html,
body {
  font-family: "Poppins", Helvetica, sans-serif;
  color: $gray;
  line-height: 20px;
  font-size: 13px !important;
  margin: 0;
  font-weight: 500;
  font-style: normal;
}

label {
  display: block;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $gray;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: $purple;
  }
}

.text-hover-primary:hover,
a.text-hover-primary:hover {
  -webkit-transition: color 0.15s ease, background-color 0.15s ease,
    border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease,
    border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease,
    border-color 0.15s ease, box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease,
    border-color 0.15s ease, box-shadow 0.15s ease,
    -webkit-box-shadow 0.15s ease;
  color: #6993ff !important;
}

button {
  outline: none;
}

p {
  margin: 0;
  color: $gray;
  font-weight: 400;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;

  @media (max-width: 767.98px) {
    padding-top: 30px;
    padding-bottom: 30px;

    text-align: center;
  }
}

.mat-form-field {
  width: 100%;
}

.alert {
  font-size: 13px;
}

.alert.alert-success {
  background: $success;
  border: 1px solid $success;
  color: #fff;
}

button.close {
  height: 100%;
  float: right;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: $black;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 98;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #464e5f;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.15);
  border-radius: 0.42rem;
  -webkit-box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
  box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
}

.navi .navi-header {
  padding: 0.75rem 1.5rem;
}

.navi .navi-item .navi-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
}

.dropdown-menu.dropdown-menu-md {
  width: 250px;
}

img {
  border-radius: 0.42rem;
}
