@import "global";
@import "commons/card";

/*#########################################
# MAIN STYLES
##########################################*/

* {
  box-sizing: border-box;
  font-family: "Poppins", Helvetica, sans-serif;
}

html,
body {
  font-family: "Poppins", Helvetica, sans-serif;
  color: $gray;
  line-height: 20px;
  font-size: 13px !important;
  margin: 0;
  font-weight: 500;
  font-style: normal;
}

label {
  display: block;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $gray;
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: $purple;
  }
}

button {
  outline: none;
}

p {
  margin: 0;
  color: $gray;
  font-weight: 400;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;

  @media (max-width: 767.98px) {
    padding-top: 30px;
    padding-bottom: 30px;

    text-align: center;
  }
}

img {
  border-radius: 0.42rem;
}

.mat-form-field {
  width: 100%;
}

.alert {
  font-size: 13px;
}

.alert.alert-success {
  background: $success;
  border: 1px solid $success;
  color: #fff;
}

button.close {
  height: 100%;
  float: right;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  color: $black;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 98;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #464e5f;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 0 solid rgba(0, 0, 0, 0.15);
  border-radius: 0.42rem;
  -webkit-box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
  box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
}

.navi .navi-header {
  padding: 0.75rem 1.5rem;
}

.navi .navi-item .navi-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.75rem 1.5rem;
}

.dropdown-menu.dropdown-menu-md {
  width: 250px;
}

.text-hover-primary:hover,
a.text-hover-primary:hover {
  -webkit-transition: color 0.15s ease, background-color 0.15s ease,
    border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease,
    border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease,
    border-color 0.15s ease, box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease,
    border-color 0.15s ease, box-shadow 0.15s ease,
    -webkit-box-shadow 0.15s ease;
  color: #6993ff !important;
}

section.user-screen {
  padding-top: 0;
  background: #eef0f8;
  min-height: 100vh;
  width: 100%;

  & > .container {
    padding-top: 86px;
  }
}

.bg-primary {
  background-color: #6993ff !important;
}

.bg-light-success {
  background-color: #c9f7f5;
}

.btn {
  &.btn-white {
    color: #464e5f;
    background-color: #fff;
    border-color: #fff;
  }
  &.btn-light-primary {
    color: #3699ff !important;
    background-color: #e1f0ff;
    border-color: transparent;
  }
  &.btn-light-danger {
    color: #f64e60 !important;
    background-color: #ffe2e5;
    border-color: transparent;
  }

  &.btn-success {
    color: #fff;
    background-color: #1bc5bd;
    border-color: #1bc5bd;

    &:hover:not(.btn-text) {
      color: #fff;
      background-color: #0bb7af;
      border-color: #0bb7af;
    }
  }

  &.btn-primary {
    color: #fff;
    background-color: #3699ff;
    border-color: #3699ff;

    &:hover:not(.btn-text) {
      color: #fff;
      background-color: #187de4;
      border-color: #187de4;
    }
  }

  &.btn-sm {
    padding: 0.55rem 0.75rem;
    font-size: 0.925rem;
    line-height: 1.35;
    border-radius: 0.42rem;
  }
}

.bg-danger {
  background-color: #f64e60 !important;
}

.bg-success {
  background-color: #1bc5bd !important;
}

.icon-info {
  color: #8950fc;
}

.icon-white {
  color: #fff;
}

.icon-success {
  color: #1bc5bd;
}

.icon-danger {
  color: #f64e60;
}

.font-size-h5 {
  font-size: 1.25rem !important;
}

.text-inverse-primary {
  color: #fff !important;
}

.text-inverse-white {
  color: #464e5f !important;
}

.text-inverse-danger {
  color: #fff !important;
}

.font-weight-bolder {
  font-weight: 600 !important;
}

.font-weight-bold {
  font-weight: 500 !important;
}

.gutter-b {
  margin-bottom: 25px;
}

.symbol {
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  border-radius: 0.42rem;

  .symbol-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 500;
    line-height: 0;
    color: #464e5f;
    background-color: #f3f6f9;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 0.42rem;
    font-size: 1.25rem;
  }

  &.symbol-light-success {
    &.symbol-45 {
      .symbol-label {
        background-color: #c9f7f5;
        color: #1bc5bd;
        width: 45px;
        height: 45px;
      }
    }
  }

  &.symbol-light-primary {
    &.symbol-45 {
      .symbol-label {
        background-color: #e1e9ff;
        color: #6993ff;
        width: 45px;
        height: 45px;
      }
    }
  }
}

.modal .modal-header .modal-title {
  font-weight: 500;
  font-size: 1.3rem;
  color: #212121;
}
