/*###########################################################################
# COLORS
###########################################################################*/

// Primary //

$light-orange: #fff8e1;
$medium-orange: #ff6a00;
$dark-orange: #b34b00;

$light-magenta: #fbe2ec;
$medium-magenta: #e81f76;
$dark-magenta: #be0056;

$light-sea: #e1f8fc;
$medium-sea: #00abc8;
$dark-sea: #025f6a;

// Secondary

$light-blue: #e3f2ff;
$medium-blue: #0195ff;
$dark-blue: #0e63cb;

$light-green: #e1fbec;
$medium-green: #21e892;
$dark-green: #00b347;

$light-red: #ffebee;
$medium-red: #e53835;
$dark-red: #b7191c;

// Gray

$light-gray: #e0e1eb;
$ultra-light-gray: #f7f8fc;
$medium-gray: #727384;
$dark-gray: #26283c;
$sweet-gray: #303249;

// Gradients

$magenta-gradient: linear-gradient(225.64deg, #be0056 0%, #e81f76 100%);
$blue-gradient: linear-gradient(225.64deg, #0e63cb 0%, #0195ff 100%);
$orange-gradient: linear-gradient(225.64deg, #ff6a00 0%, #ea1d76 100%);

// Social networks
$green-whatsapp: #70d68b;
$red-youtube: #ff0000;
$blue-facebook: #4267b2;
$gray-share-button: #f5f5f9;
$blue-twitter: #38a1f3;
$blue-messenger: #0087ff;
$instagram-gradient: linear-gradient(
  45deg,
  rgba(255, 221, 85, 1) 0%,
  rgba(255, 84, 62, 1) 50%,
  rgba(200, 55, 171, 1) 100%
);
$magenta-instagram: #e4405f;
