<section>
    <h2 class="text-center">Nuestros proyectos</h2>
    <br><br>
    <div class="container-fluid no-gutters">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="portfolio-container">
                    <img src="assets/img/projects/community.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="portfolio-container">
                    <img src="assets/img/projects/cow.png" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="portfolio-container">
                    <img src="assets/img/projects/search-work.png" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="portfolio-container">
                    <img src="assets/img/projects/virtual-store.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>