<div class="card card-custom card-profile">
    <img class="card-img-top" src="assets/img/authentication/banner-profile.jpeg" alt="Card image cap">
    <img class="profile" src="assets/img/authentication/profile.jpeg" alt="">
    <div class="card-body text-center">
        <h5>Adan Florez Bermudez</h5>
        <p class="text-left">Este es un salon de clases donde se enseñará matematicas, calculo, geometría, algebra
            lineal, entre otros</p>
    </div>
</div>
<div class="card card-custom">
    <div class="card-body">
        <h5>Recientes</h5>
        <br>
        <ul>
            <li># Matematicas</li>
            <li># Geometría</li>
            <li># Calculo</li>
            <li># Algebra</li>
        </ul>
    </div>
</div>