<section class="user-screen">
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card card-custom">
                            <img class="card-img-top" src="assets/img/authentication/banner-profile.jpeg"
                                alt="Card image cap">
                            <img class="profile" *ngIf="userProfile" [src]="userProfile.urlImgUser" alt=""> <!--  -->
                            <div class="container">
                                <!--begin::Actions-->
                                <a (click)="open(content)" *ngIf="isEditable"
                                    class="btn btn-light font-weight-bold btn-sm float-right">
                                    <i class="fas fa-user-edit"></i> Editar
                                </a>
                                <!--end::Actions-->
                            </div>
                            <div class="card-body">
                                <nav ngbNav #nav="ngbNav" class="nav-tabs">
                                    <ng-container ngbNavItem>
                                        <a ngbNavLink>Salon</a>
                                        <ng-template ngbNavContent *ngIf="userProfile">
                                            <div class="my-3">
                                                <h3 class="text-dark">
                                                    {{ userProfile.name }}
                                                    <a *ngIf="userProfile.status"
                                                        class="btn btn-light-primary btn-bold float-right"> Activo </a>
                                                    <a *ngIf="!userProfile.status"
                                                        class="btn btn-light-danger btn-bold float-right"> Inactivo </a>
                                                </h3>
                                                <p> {{userProfile.parlorDescription}} </p>
                                                <a [href]="userProfile.notifyUrl" target="_blank"
                                                    *ngIf="userProfile.notifyUrl">
                                                    <i class="fas fa-globe"></i> {{ userProfile.notifyUrl }}
                                                    <br>
                                                </a>
                                                <a [href]="userProfile.email" target="_blank" *ngIf="userProfile.email">
                                                    <i class="far fa-envelope"></i> {{ userProfile.email }}
                                                    <br>
                                                </a>
                                                <a [href]="userProfile.phoneNumber" target="_blank"
                                                    *ngIf="userProfile.phoneNumber">
                                                    <i class="fas fa-phone"></i> {{ userProfile.phoneNumber }} </a>
                                            </div>
                                        </ng-template>
                                    </ng-container>
                                    <ng-container ngbNavItem>
                                        <a ngbNavLink>Información</a>
                                        <ng-template ngbNavContent>
                                            <div class="my-3">
                                                <h3 class="text-dark">
                                                    {{ userProfile.firstNameUser + " " + userProfile.lastNameUser + " " + userProfile.secondLastNameUser }}
                                                </h3>
                                                <p *ngIf="userProfile.addressUser">
                                                    <i class="fas fa-map-pin icon-success"></i>
                                                    {{ userProfile.addressUser }}
                                                </p>
                                                <a [href]="userProfile.email" target="_blank" *ngIf="userProfile.email">
                                                    <i class="far fa-envelope"></i> {{ userProfile.email }} </a>
                                                <br>
                                                <a [href]="userProfile.email" target="_blank"
                                                    *ngIf="userProfile.phoneNumber">
                                                    <i class="fas fa-phone"></i> {{ userProfile.phoneNumber }} </a>
                                                <p *ngIf="userProfile.genderUser">
                                                    <i class="fas fa-venus-mars icon-danger"></i>
                                                    {{ userProfile.genderUser }}
                                                </p>
                                            </div>
                                        </ng-template>
                                    </ng-container>
                                </nav>
                                <div [ngbNavOutlet]="nav" class="mt-2"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <!--begin::Stats Widget 13-->
                        <div class="card card-custom gutter-b">
                            <!--begin::Body-->
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between card-spacer flex-grow-1">
                                    <div class="d-flex flex-column mr-2">
                                        <a href="#" class="text-hover-primary font-weight-bolder font-size-h5">
                                            <i class="fas fa-users fa-2x icon-success"></i>
                                        </a>
                                        <h4 class="text-muted mt-2">Usuarios afiliados</h4>
                                    </div>
                                    <span class="symbol symbol-light-success symbol-45">
                                        <span class="symbol-label font-weight-bold font-size-h6"
                                            *ngIf="userProfile">{{ userProfile.subscribers }}</span>
                                    </span>
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Stats Widget 13-->
                    </div>
                    <div class="col-xl-6">
                        <!--begin::Stats Widget 13-->
                        <div class="card card-custom gutter-b">
                            <!--begin::Body-->
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between card-spacer flex-grow-1">
                                    <div class="d-flex flex-column mr-2">
                                        <a href="#" class="text-hover-primary font-weight-bolder font-size-h5">
                                            <i class="fas fa-book-reader fa-2x icon-info"></i>
                                        </a>
                                        <h4 class="text-muted mt-2">Clases</h4>
                                    </div>
                                    <span class="symbol symbol-light-primary symbol-45">
                                        <span *ngIf="userProfile"
                                            class="symbol-label font-weight-bold">{{ userProfile.numberLesson }}</span>
                                    </span>
                                </div>
                            </div>
                            <!--end::Body-->
                        </div>
                        <!--end::Stats Widget 13-->
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
            <div *ngIf="isEditable" class="col-xl-4">
                <div class="col-xl-12">
                    <div class="card card-custom gutter-b">
                        <div class="card-body">
                            <h4>Crear nueva clase</h4>
                            <form class="form">
                                <fieldset [disabled]="formDisabled">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <mat-form-field>
                                                <mat-label>Titulo</mat-label>
                                                <input matInput placeholder="Ex. Matematicas"
                                                    [formControl]="classForm.controls['title']" required>
                                                <mat-error *ngIf="classForm.controls['title'].invalid">
                                                    {{ getErrorMessage(classForm.controls['title']) }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-12">
                                            <mat-form-field class="example-full-width">
                                                <mat-label>Descripción</mat-label>
                                                <textarea matInput placeholder="Describe de que trata la clase..."
                                                    [formControl]="classForm.controls['description']"
                                                    required></textarea>
                                                <mat-error *ngIf="classForm.controls['description'].invalid">
                                                    {{ getErrorMessage(classForm.controls['description']) }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <mat-form-field>
                                                <mat-label>Categoría</mat-label>
                                                <mat-select [formControl]="classForm.controls['categoriesLesson']">
                                                    <mat-option *ngFor="let categories of categoriesLesson"
                                                        [value]="categories.name">
                                                        {{ categories.name }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="classForm.controls['categoriesLesson'].invalid">
                                                    {{ getErrorMessage(classForm.controls['categoriesLesson']) }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <mat-form-field>
                                                <mat-label>Contraseña</mat-label>
                                                <input matInput type="password" value=""
                                                    [formControl]="classForm.controls['password']">
                                                <mat-error *ngIf="classForm.controls['password'].invalid">
                                                    {{ getErrorMessage(classForm.controls['password']) }}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 mt-4">
                                            <button mat-raised-button color="primary"
                                                [disabled]="!classForm.valid || formDisabled"
                                                (click)="createLesson()">Crear</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
                <ngb-alert *ngIf="alertState" [type]="alertType" (close)="closeAlert()">
                    {{ alertMessage }}
                </ngb-alert>
            </div>
        </div>
        <div>
            <div class="card card-custom mr-4">
                <div class="card-header">
                    <div class="card-title">
                        Clases
                    </div>
                </div>
                <div class="card-body">
                    <owl-carousel-o *ngIf="lessons" [options]="customOptions">
                        <ng-container *ngFor="let lesson of lessons">
                            <ng-template carouselSlide>
                                <div class="card card-custom card-border mr-4">
                                    <div class="card-header bg-danger">
                                        <div class="card-title text-white">
                                            <span class="card-icon">
                                                <i class="flaticon2-chat-1 text-primary"></i>
                                            </span>
                                            <h3 class="card-label">
                                                {{ lesson.name }}
                                                <br>
                                                <small> {{ lesson.category }} </small>
                                            </h3>
                                        </div>
                                        <div class="card-toolbar">
                                            <a href="#" class="btn btn-sm btn-white font-weight-bold">
                                                <i class="fas fa-check"></i> Seguir
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        {{ lesson.description }}
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>

        </div>
    </div>
</section>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Actualizar</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <i class="fas fa-times"></i>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-body">
            <mat-horizontal-stepper #stepper>
                <mat-step [stepControl]="parlorForm">
                    <form [formGroup]="parlorForm">
                        <ng-template matStepLabel>Salon</ng-template>
                        <mat-form-field>
                            <mat-label>Nombre del salon</mat-label>
                            <input matInput placeholder="Salon" formControlName="name" required>
                            <mat-error *ngIf="parlorForm.controls['name'].invalid">
                                {{ getErrorMessage(parlorForm.controls['name']) }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Descripción</mat-label>
                            <textarea matInput placeholder="Describe de que trata la clase..."
                                formControlName="description" required></textarea>
                            <mat-error *ngIf="parlorForm.controls['description'].invalid">
                                {{ getErrorMessage(parlorForm.controls['description']) }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Url</mat-label>
                            <input matInput placeholder="https://salon.com" formControlName="url">
                            <mat-error *ngIf="parlorForm.controls['url'].invalid">
                                {{ getErrorMessage(parlorForm.controls['url']) }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Correo</mat-label>
                            <input matInput placeholder="correo@skall.com" type="email" formControlName="email"
                                required>
                            <mat-error *ngIf="parlorForm.controls['email'].invalid">
                                {{ getErrorMessage(parlorForm.controls['email']) }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Celular</mat-label>
                            <input matInput placeholder="Ex. 3001234567" formControlName="phoneNumber" required>
                            <mat-error *ngIf="parlorForm.controls['phoneNumber'].invalid">
                                {{ getErrorMessage(parlorForm.controls['phoneNumber']) }}
                            </mat-error>
                        </mat-form-field>
                        <div>
                            <button class="float-right" mat-button matStepperNext>Siguiente</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="userForm">
                    <form [formGroup]="userForm">
                        <ng-template matStepLabel>Usuario</ng-template>
                        <mat-form-field>
                            <mat-label>Dirección</mat-label>
                            <input matInput formControlName="address" placeholder="Ex. Calle 127 #7-14, Bogotá"
                                required>
                            <mat-error *ngIf="userForm.controls['address'].invalid">
                                {{ getErrorMessage(userForm.controls['address']) }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Edad</mat-label>
                            <input type="number" matInput placeholder="18" formControlName="age" required>
                            <mat-error *ngIf="userForm.controls['age'].invalid">
                                {{ getErrorMessage(userForm.controls['age']) }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Género</mat-label>
                            <select matNativeControl formControlName="gender" required>
                                <option value="Femenino">Femenino</option>
                                <option value="Masculino">Masculino</option>
                            </select>
                            <mat-error *ngIf="userForm.controls['gender'].invalid">
                                {{ getErrorMessage(userForm.controls['gender']) }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Trabajo</mat-label>
                            <input matInput placeholder="Profesor" formControlName="job" required>
                            <mat-error *ngIf="userForm.controls['job'].invalid">
                                {{ getErrorMessage(userForm.controls['job']) }}
                            </mat-error>
                        </mat-form-field>
                        <div class="float-right">
                            <button mat-button matStepperPrevious>Atrás</button>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="userEducationForm">
                    <form [formGroup]="userEducationForm">
                        <ng-template matStepLabel>Educación</ng-template>
                        <mat-form-field>
                            <mat-label>Institución</mat-label>
                            <input matInput formControlName="institution" placeholder="Ex. Calle 127 #7-14, Bogotá"
                                required>
                            <mat-error *ngIf="userEducationForm.controls['institution'].invalid">
                                {{ getErrorMessage(userEducationForm.controls['institution']) }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Fecha inicio</mat-label>

                            <input matInput [matDatepicker]="picker" [(ngModel)]="dateInit" formControlName="dateInit"
                                (dateChange)="change('dateInit', $event)" disabled>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker disabled="false"></mat-datepicker>

                            <mat-error *ngIf="userEducationForm.controls['dateInit'].invalid">
                                {{ getErrorMessage(userEducationForm.controls['dateInit']) }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Fecha fin</mat-label>
                            <input matInput [matDatepicker]="picker1" [(ngModel)]="dateFinish"
                                formControlName="dateFinish" (dateChange)="change('dateFinish', $event)" disabled>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1 disabled="false"></mat-datepicker>
                            <mat-error *ngIf="userEducationForm.controls['dateFinish'].invalid">
                                {{ getErrorMessage(userEducationForm.controls['dateFinish']) }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Intereses</mat-label>
                            <mat-select formControlName="interest" multiple>
                                <mat-option *ngFor="let interest of interests" [value]="interest.name">
                                    {{ interest.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Nivel educativo</mat-label>
                            <mat-select formControlName="levelOfStudy" required>
                                <mat-option value="Estudiante">Estudiante</mat-option>
                                <mat-option value="Tecnico">Tecnico</mat-option>
                                <mat-option value="Universitario">Universitario</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Profesión</mat-label>
                            <input matInput formControlName="profesion" placeholder="Abogado" required>
                            <mat-error *ngIf="userEducationForm.controls['profesion'].invalid">
                                {{ getErrorMessage(userEducationForm.controls['profesion']) }}
                            </mat-error>
                        </mat-form-field>
                        <div class="float-right">
                            <button mat-button matStepperPrevious>Atrás</button>
                            <button mat-button matStepperNext (click)="updateUserAndParlor()">Siguiente</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Hecho</ng-template>
                    <div>
                        <p>{{ parlorUpdateState }}</p>
                        <p>{{ userUpdateState }}</p>
                        <p>{{ educationUpdateState }}</p>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>

        </div>
    </div>
</ng-template>