@import 'global';

section {
  background: $white;
  .pricing-container {
    margin: 15px 0;
  }
  .plans {
    padding: 50px 80px;
    border-radius: 2px;
    width: 100%;

    span {
      font-size: 20px;
    }
    ul {
      list-style-type: square;
    }
  }
  .plan-light {
    background-color: #fff;
    border: 2px solid $black;
  }
  .plan-dark {
    background-color: $black;
    border: 2px solid $black;
    color: #fff;
  }

  .btn {
    font-size: 14px;
    padding: 15px 26px;
    width: 100%;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;

    &.btn-dark {
      background-color: $black;
      color: #fff;
      border: 2px solid $black;
    }

    &.btn-transparent {
      background-color: transparent;
      color: #fff;
      border: 2px solid #fff;
    }
  }

  .topmargin-xs {
    margin-top: 15px;
  }
  .topmargin-sm {
    margin-top: 30px;
  }
  .topmargin-lg {
    margin-top: 60px;
  }
}
