<section>
    <div class="container">
        <div class="text-center">
            <h2>¿Deseas contribuir al proyecto educativo?</h2>
            <p>
                Somos una comunidad de estudiantes universitarios creando soluciones
                digitales.
            </p>
            <br><br>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="pricing-container text-center">
                    <div class="plans plan-light">
                        <h3>Silver plan</h3>
                        <h2>$100<span>/Co</span></h2>
                        <h3>Benefits</h3>
                        <br>
                        <ul class="topmargin-xs text-left">
                            <li>Account premiun</li>
                            <li>Delete advertising</li>
                            <li>Discounts in store</li>
                        </ul>
                        <br>
                        <a href="#" class="btn btn-dark full-width topmargin-sm">start</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="pricing-container text-center">
                    <div class="plans plan-dark">
                        <h3>Gold plan</h3>
                        <h2>$200 <span>/Co</span></h2>
                        <h3>Benefits</h3>
                        <br>
                        <ul class="topmargin-xs text-left">
                            <li>Account Premiun</li>
                            <li>Access to sell</li>
                            <li>Delete advertising</li>
                            <li>Discounts in store</li>
                        </ul>
                        <a href="#" class="btn btn-transparent full-width topmargin-sm">start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>