.d-flex {
  .left-side {
    padding: 48px;
    min-height: 100vh;
    flex: 4;
    background: url(../../../assets/img/authentication/users.webp);
    background-size: cover;
    background-position: center;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .right-side {
    padding: 48px;
    flex: 5;

    .form-container {
      width: 85%;
      .form {
        width: 100%;
      }
    }
  }
}

@media (max-width: 767.99px) {
  .d-flex {
    flex-direction: column;

    .left-side {
      background-position: center;
      min-height: 250px;

      img {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
