.navbar {
  background-color: #1e1e2d;
  height: 70px;
  padding: 0.5rem 0;
  font-size: 1rem;

  .nav-item {
    transition: all 0.3s ease;
    a {
      border-radius: 4px;
      padding: 0.65rem 1.1rem;
      color: #6e7899;

      &:hover {
        background-color: #282f48;
        color: #fff;
      }

      &.active {
        background-color: #282f48;
        color: #fff;
      }
    }
  }

  .input-group {
    &.input-group-solid {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background-color: #f3f6f9;
      border-radius: 0.42rem;

      .form-control {
        border: 0;
        background-color: transparent;
        outline: 0 !important;
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      .input-group-text {
        background-color: transparent;
        border: 0;
        padding-top: 0;
        padding-bottom: 0;
      }

      .input-group-append {
        width: 30px;

        i {
          cursor: pointer;
          padding: 7px;
        }
      }
    }
  }

  .dropdown-toggle::after {
    color: #fff;
  }
}

.dropdown {
  .profile {
    width: 30px;
    height: 30px;
    border-radius: 0.42rem;
  }
  .btn:focus,
  .btn.focus {
    box-shadow: none;
  }

  .btn {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
  }
}
