<section id="classroom">
    <div class="container">
        <div class="text-center">
            <h2>Welcome al VALHALLA</h2>
            <p>Encuentra los 3 mejores salones de la plataforma.</p>
            <br>
            <br>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="member-container">
                    <div class="member-details">
                        <h6>Capachos</h6>
                        <span>#Tienda #Entretenimiento</span>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/profile.php?id=100042533469039"><i
                                        class="ti ti-facebook"></i></a>
                                <a href="https://www.linkedin.com/in/manuel-sebastian-chitiva-rodriguez-144080188/"><i
                                        class="ti ti-linkedin"></i></a>
                                <a href="#"><i class="ti ti-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <img src="assets/img/patro1.png" class="img-fluid" alt="invitado1" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="member-container">
                    <div class="member-details">
                        <h6>Universidad Catolica de colombia</h6>
                        <span>#Educación #Clases</span>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/serverocfrv"><i class="ti ti-facebook"></i></a>
                                <a href="#"><i class="ti ti-linkedin"></i></a>
                                <a href="#"><i class="ti ti-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <img src="assets/img/patro2.png" class="img-fluid" alt="invitado1" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="member-container">
                    <div class="member-details">
                        <h6>Computrabajo</h6>
                        <span>#Trabajo #OfertaLaboral</span>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/vidalpte"><i class="ti ti-facebook"></i></a>
                                <a href="#"><i class="ti ti-linkedin"></i></a>
                                <a href="#"><i class="ti ti-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <img src="assets/img/patro3.png" class="img-fluid" alt="invitado1" />
                </div>
            </div>
        </div>
        <br>
        <br>
        <hr>
    </div>
</section>