<div class="d-flex">
    <div class="left-side">
        <!-- <img src="assets/img/Logo-Positivo.png" alt=""> -->
    </div>
    <div class="right-side d-flex align-items-center">
        <div class="container">
            <div class="row mb-4">
                <div class="mx-auto form-container">
                    <ngb-alert *ngIf="alertState" [type]="alertType" (close)="closeAlert()">
                        {{ alertMessage }}
                    </ngb-alert>
                    <h2 class="text-center mb-4">
                        Inicia sesión
                    </h2>
                    <form class="form">
                        <fieldset [disabled]="formDisabled">
                            <div class="row">
                                <div class="col-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="Ex. adan@skall.com" type="email"
                                            [formControl]="loginForm.controls['username']" value="adan.florez@gmail.com" required>
                                        <mat-error *ngIf="loginForm.controls['username'].invalid">
                                            {{ getErrorMessage(loginForm.controls['username']) }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Contraseña</mat-label>
                                        <input matInput value="" type="password"
                                            [formControl]="loginForm.controls['password']" value="Af12345*" required>
                                        <mat-error *ngIf="loginForm.controls['password'].invalid">
                                            {{ getErrorMessage(loginForm.controls['password']) }}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <button mat-raised-button color="primary" (click)="login()"
                                        [disabled]="!loginForm.valid || formDisabled">Entrar</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="row justify-content-end mt-4">
                <p>¿No tienes cuenta? <a routerLink="/register">Registrate</a></p>
            </div>
        </div>
    </div>
</div>