<footer>
    <div class="container">
        <img src="assets/img/Logo-Positivo.png" class="logo mb-2" alt="" />
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#hero">Inicio</a></li>
            <li class="list-inline-item">
                <a href="#portfolio">Funcionalidades</a>
            </li>
            <li class="list-inline-item">
                <a href="#aboutus">Equipo</a>
            </li>
            <li class="list-inline-item">
                <a href="#testimonials">Testimonios</a>
            </li>
            <li class="list-inline-item">
                <a href="#pricing">Planes</a>
            </li>
        </ul>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="https://www.facebook.com/Skall-101532378062302">
                    <i class="ti ti-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="ti ti-youtube"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="ti ti-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="ti ti-instagram"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="ti ti-twitter"></i></a>
            </li>
        </ul>
        <small>@2020 All Rights Reserved. Created By Skall</small>
    </div>
</footer>